<div class="py-20 text-white px-5 lg:px-20">

    <div class="py-5">

        <h2 class="text-center py-2">État de la commande</h2>

        <app-order-tracker activeStep="PLACÉ" [steps]="steps"/>

    </div>

    <div class="space-y-10 pt-10">

        <div class="box px-10">

            <p class="text-lg font-semibold py-5">Adresse de livraison</p>

            <app-address-card/>

        </div>

        <div class="space-y-6 mt-20">

            <div *ngFor="let orderItem of orders">

                <app-order-card/>

            </div>

        </div>

    </div>

</div>