<div class="container">

    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-1">

            <div class="w-[3rem] h-[3rem]">

                <img class="w-full h-full rounded-full" src="https://i.redd.it/drake-warrior-igon-from-elden-ring-shadow-of-the-erdtree-v0-944kdoa0ioad1.jpg?width=735&format=pjpg&auto=webp&s=26d7e1447c2b77bd658e6f56a65f98e7840f2fba" alt="">

            </div>

        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="text-lg font-semibold">Igon</p>
                    <p class="opacity-70">8 Août 2024</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>
                    Curse you, Bayle! I hereby vow! You will rue this day! Behold, a true Drake Warrior! And I, Igon! Your fears made flesh! Solid of scale you might be, foul dragon … But I will riddle with holes your rotten hide! With a hail of harpoons! With every last drop of my being!
                </p>
            </div>
        </div>

    </div>

</div>