<div>
    <div class="relative h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('/assets/img/hero/hero1.webp');">
        <div class="absolute inset-0 flex flex-col items-center justify-center space-y-4">
        </div>
    </div>

    <div id="products">
        <!-- <app-product-slider title="Camping" [products]="tents"></app-product-slider>
        <app-product-slider title="Sacs de couchage" [products]="sleepingBags"></app-product-slider>
        <app-product-slider title="Matelas et Tapis de sol" [products]="mattressesAndGroundsheets"></app-product-slider>
        <app-product-slider title="Réchauds portables et ustensiles de cuisine de camping" [products]="portableStovesAndCampingCookware"></app-product-slider>
        <app-product-slider title="Lampes de poche et lanternes" [products]="flashlightsAndLanterns"></app-product-slider> -->

        <app-product-slider title="Pantalon Homme" [products]="pants"></app-product-slider>
        <app-product-slider title="Robe Femme" [products]="dress"></app-product-slider>
        <app-product-slider title="Gouns" [products]="gouns"></app-product-slider>
        <app-product-slider title="Kurta" [products]="kurta"></app-product-slider>
        <app-product-slider title="Saree" [products]="saree"></app-product-slider>
    </div>
</div>
